
/* Map.css */

.Infor {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh; 
    justify-content: center;
    align-items: center;
}

.Gate {
  margin-bottom: 30px;
}

.venue2,
.venue1,
.venue3 {
  margin-bottom: 60px;
}
.venue2.active {
  background-color: green; 
}

.venue1.active {
  background-color: blue;
}

.venue3.active {
  background-color: red;
}